em {
  font-size: 1.6rem;
  margin: 0.8rem;
}

span {
  font-size: 1.1rem;
}

a:link, a:visited, a:active {
  color: inherit;
}

a {
  transition: linear 100ms;
}

a:hover {
  opacity: 75%;
  transition: linear 100ms;
}

hr {
  width: 85%;
  color: var(--light);
}