<footer>
  <mat-toolbar color="primary">
    <span>© 2022 Rubén García García</span>
    <span class="spacer"><hr></span>
    <div class="social-media">
      <a href="https://linkedin.com/in/rubentxogg" target="_blank">
        <em class="bi bi-linkedin"></em>
      </a>

      <a href="https://github.com/rubentxogg" target="_blank">
        <em class="bi bi-github"></em>
      </a>

      <a href="https://stackoverflow.com/users/16479658/rubentxogg" target="_blank">
        <em class="bi bi-stack-overflow"></em>
      </a>

      <a href="mailto:rubentxogg@hotmail.com" target="_blank">
        <em class="bi bi-envelope-fill"></em>
      </a>
    </div>
  </mat-toolbar>
</footer>
