<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="panelOpenState = !panelOpenState">
      <mat-panel-title> Search by name </mat-panel-title>
      <mat-panel-description> <mat-icon class="filter">filter_list</mat-icon> Click to {{ openClose() }} filter</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="browser">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Book name</mat-label>
        <input matInput type="text" [(ngModel)]="bookName">
        <button *ngIf="bookName" matSuffix mat-icon-button aria-label="Clear" (click)="bookName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        class="search-btn"
        mat-raised-button
        color="primary"
        [disabled]="isDisabled()"
        (click)="getBooksByName(bookName)"
      >
        Search <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<app-book-card
  [books]="books"
  [isLoading]="isLoading"
  [isError]="isError"
  [name]="bookName"
></app-book-card>
