<mat-card *ngFor="let book of books">
  <img [src]="book.cover" alt="cover" />
  <mat-card-title>{{ book.name }}</mat-card-title>
  <mat-card-subtitle>Patrick Rothfuss</mat-card-subtitle>
  <mat-card-content>Desc.</mat-card-content>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip selected="true">{{ book.position }}</mat-chip>
      <mat-chip selected="true">Adventure</mat-chip>
      <mat-chip selected="true">{{ book.rating }}</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
