<mat-card>
  <img src="https://images-na.ssl-images-amazon.com/images/I/71jJcPTGd3L.jpg" alt="cover">
  <mat-card-title>El nombre del viento</mat-card-title>
  <mat-card-subtitle>Patrick Rothfuss</mat-card-subtitle>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
    assumenda, provident enim inventore ut soluta dicta dolorum deleniti, iure
    reprehenderit maiores. Veritatis magni blanditiis commodi id pariatur qui
    quidem. Cumque ex dolor vel! Cum dolor, architecto accusantium nisi velit
    impedit dolorum voluptate similique provident, enim quibusdam id hic
    consectetur, molestias sequi sed unde? Architecto soluta eaque assumenda
    voluptate atque. Adipisci deleniti cum repellendus modi mollitia error eum
    laborum, aut, provident quasi est fugit accusantium quis, similique fuga
  </mat-card-content>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip selected="true">Pos. 1</mat-chip>
      <mat-chip selected="true">Genre Adventure</mat-chip>
      <mat-chip selected="true">Rating 9.55</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>