<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Menu</span>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        mat-menu-item
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <mat-icon>home</mat-icon> Home
      </button>
    
      <mat-divider></mat-divider>

      <button
        mat-menu-item
        routerLink="/top15-books"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Top 15 books in a month of a year
      </button>

      <button
        mat-menu-item
        routerLink="/awarded-books"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Awarded books of a year
      </button>

      <button
        mat-menu-item
        routerLink="/weekly-popular-books"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Weekly popular books by genre
      </button>

      <button
        mat-menu-item
        mat-menu-item
        routerLink="/books-by-name"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Search by name
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
