<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Book browser</span>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        mat-menu-item
        routerLink="/books-by-name"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Search by name
      </button>
      <button
        mat-menu-item
        routerLink="/top15-books"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Top 15 books in a month of a year
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
