<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="panelOpenState = !panelOpenState">
      <mat-panel-title> Weekly popular books by genre </mat-panel-title>
      <mat-panel-description> <mat-icon class="filter">filter_list</mat-icon> Click to {{ openClose() }} filter</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="browser">
      <mat-form-field appearance="fill">
        <mat-label>Choose a genre</mat-label>
        <mat-select [(value)]="genre">
          <mat-option value="fiction">Fiction</mat-option>
          <mat-option value="mystery & thriller">Mystery & Thriller</mat-option>
          <mat-option value="historical fiction">Historical Fiction</mat-option>
          <mat-option value="fantasy">Fantasy</mat-option>
          <mat-option value="romance">Romance</mat-option>
          <mat-option value="science fiction">Science Fiction</mat-option>
          <mat-option value="romance">Romance</mat-option>
          <mat-option value="horror">Horror</mat-option>
          <mat-option value="humor">Humor</mat-option>
          <mat-option value="nonfiction">Nonfiction</mat-option>
          <mat-option value="memoir & autobiography">Memoir & Autobiography</mat-option>
          <mat-option value="history">History</mat-option>
          <mat-option value="poetry">Poetry</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        class="search-btn"
        mat-raised-button
        color="primary"
        [disabled]="isDisabled()"
        (click)="getWeeklyPopularBooksByGenre(genre)"
      >
        Search <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<app-book-card
  [books]="books"
  [isLoading]="isLoading"
  [isError]="isError"
  [genre]="genre"
></app-book-card>
