<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="panelOpenState = !panelOpenState">
      <mat-panel-title> Awarded books of a year </mat-panel-title>
      <mat-panel-description>	<mat-icon class="filter">filter_list</mat-icon> Click to {{ openClose() }} filter</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="browser">
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxYear"/>
        <mat-hint>YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (yearSelected)="setYear($event, dp)"
          panelClass="year-picker"
        >
        </mat-datepicker>
      </mat-form-field>
      
      <button
        class="search-btn"
        mat-raised-button
        color="primary"
        [disabled]="isDisabled()"
        (click)="getAwardedBooksOfAYear(year)"
      >
        Search <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<app-book-card
  [books]="books"
  [isLoading]="isLoading"
  [isError]="isError"
  [year]="year"
  [isEmpty]="isEmpty"
></app-book-card>