@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --white: #fff;
  --grey-1: #ededed;
  --dark: rgba(0, 0, 0, 0.719);
  --light: rgba(255, 255, 255, 0.1);
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

app-book-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}