<ng-container *ngIf="isLoading; then loading; else loaded"></ng-container>
<ng-container *ngIf="isError; then error"></ng-container>
<ng-container *ngIf="isEmpty; then noBooksFound"></ng-container>

<ng-template #loading> <mat-spinner></mat-spinner> </ng-template>

<ng-template #loaded>
  <mat-card *ngFor="let book of books"> 
    <span *ngIf="book.position" [matBadge]="book.position" matBadgeOverlap="false"></span>
    <img [src]="book.cover" alt="cover" />
    <mat-card-title>{{ book.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="book.authors">
      <ng-container *ngFor="let author of book.authors; last as isLast">{{ author }}<span *ngIf="!isLast">, </span> </ng-container>
    </mat-card-subtitle>
    <mat-card-content>No description provided</mat-card-content>
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip *ngIf="book.rating" selected="true">Rating: {{ book.rating }}</mat-chip>
        <mat-chip *ngIf="book.winning_category" selected="false">Winning category</mat-chip>
        <mat-chip *ngIf="book.winning_category" selected="true">{{ book.winning_category }}</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
    <mat-card-footer>
      <button mat-raised-button (click)="checkBookInGoodReads(book.url)">
        <mat-icon class="link-icon">link</mat-icon>Check in www.goodreads.com
      </button>
    </mat-card-footer>
  </mat-card>
</ng-template>

<ng-template #error>
  <h1 class="search-result">
    <img src="../../../assets/error_bot.png" alt="error_bot"> 
    <span>
      <em class="bi bi-exclamation-circle"></em> Sorry, maximun requests per month reached. I invite you to try another day 
    </span>
  </h1>
</ng-template>

<ng-template #noBooksFound>
  <h1 class="search-result">
    <img src="../../../assets/error_bot.png" alt="error_bot"> 
    <span>
      <em class="bi bi-exclamation-circle"></em> No books have been found with your search criteria, try again!
    </span>
  </h1>
</ng-template>
