mat-card {
  width: 24rem;
  margin: 1rem;
}

mat-card img {
  display: block;
  margin: auto;
  max-width: 55%;
  max-height: 55%;
  margin-bottom: 2rem;
  border-radius: 15px;
}

mat-card-footer {
  display: flex;
  justify-content: center;
}

.link-icon {
  margin-right: 0.6rem;
}

h1 {
  margin-top: 8%;
  font-size: 2rem;
}

mat-spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-result span{
  width: 100%;
  margin-top: 1rem;
}