mat-card {
  width: 24rem;
  margin: 1rem;
}

mat-card img {
  display: block;
  margin: auto;
  max-width: 55%;
  max-height: 55%;
  margin-bottom: 2rem;
  border-radius: 15px;
}

mat-card-footer {
  display: flex;
  justify-content: center;
}

.link-icon {
  margin-right: 0.6rem;
}