<ng-container *ngIf="isLoading; then loading; else loaded"></ng-container>

<ng-template #loading> Loading...</ng-template>

<ng-template #loaded>
  <ng-container *ngIf="isError; then error"></ng-container>

  <mat-card *ngFor="let book of books">
    <img [src]="book.cover" alt="cover" />
    <mat-card-title>{{ book.name }}</mat-card-title>
    <mat-card-subtitle>Patrick Rothfuss</mat-card-subtitle>
    <mat-card-content>Desc.</mat-card-content>
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip selected="true">{{ book.position }}</mat-chip>
        <mat-chip selected="true">Adventure</mat-chip>
        <mat-chip selected="true">{{ book.rating }}</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #error>
  <span>
    <em class="bi bi-exclamation-circle"></em> Error, too many request (100 per month)
  </span>
</ng-template>
